.weather-page {
  display: flex;
  flex-direction: column;
  padding: 80px;
  max-height: 100%;
}

.weather-page-top {
  display: flex;
  justify-content: space-between;
}

/* TOP LEFT */
.time-date {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.time {
  font-size: 24px;
  font-weight: 600;
}

.date {
  font-size: 20px;
  font-weight: 400;
}

.todo-list {
  padding-top: 20px;
}

.button-next {
  margin-bottom: 16px;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  cursor: pointer;
  font-weight: 400;
  padding-left: 0px;
}

.item-time {
  font-weight: 400;
}

.item-text {
  margin-left: 10px;
  font-weight: 600;
}

/* TOP RIGHT */

.city-weather {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.weather-icon {
  height: 100px;
  width: 100px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-state {
  font-size: 40px;
  font-weight: 600;
}

.location {
  color: rgba(255, 255, 255, 0.6);
}

.temperature {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
}

/* BOTTOM LINE */

.weather-page-bottom {
  display: flex;
}

.weekline {
  display: flex;
  justify-content: center;
  margin-top: 350px;
  margin-left: 15%;
  margin-right: 15%;

}

@media (max-width: 1024px) {
  .weekline{
    overflow: auto;
    justify-content: flex-start;
  }
}

.day {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  height: 150px;
  width: 120px;
  text-align: center;
}

.day:hover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
}

.weekday {
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
}

.day-weather-icon {
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-temperature {
  font-size: 12px;
  font-weight: 600;
  margin-top: 6px;
}
