.weather-page {
  display: flex;
  flex-direction: column;
  padding: 80px;
  min-height: 100vh;
}

.weather-page-top {
  display: flex;
  justify-content: space-between;
}

.weather-page-bottom {
  display: flex;
}

@media (max-width: 400px) {
  .weather-page {
    padding: 16px;

  }

  .weather-page-top{
    flex-direction: column-reverse;
  }
}
