.weather-page {
  display: flex;
  flex-direction: column;
  padding: 80px;
  max-height: 100%;
}

.weather-page-top {
  display: flex;
  justify-content: space-between;
}

/* TOP LEFT */

/* TOP RIGHT */

/* BOTTOM LINE */

.weather-page-bottom {
  display: flex;
}
