.time-date {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.time {
  font-size: 24px;
  font-weight: 600;
}

.date {
  font-size: 20px;
  font-weight: 400;
}

.todo-container {
  padding-top: 20px;
}

.button-next {
  margin-bottom: 16px;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  margin-right: 8px;
  height: 24px;
  width: 80px;
}

.item-time {
  font-weight: 400;
}

.item-text {
  margin-left: 10px;
  font-weight: 600;
}
